{{! A handlebars partial for a single cell. }}

{{#if this.cleared}}
    <article class="cell cleared">
{{/if}}
{{#unless this.cleared}}
    <article class="cell">
{{/unless}}
        {{#if this.value}}
            <p class="cell-text">
                    {{this.value}}
            </p>
        {{/if}}
        {{#if this.flagged}}
            <img src="/flag.png">
        {{/if}}
    </article>
