<header>
  <a href="#"><h1 class="site-title"><i class="fa fa-hand-lizard-o"></i>sweeper</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="#">Save</a></li>
      <li class="navitem navlink"><a href="#">Something Else</a></li>
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Potential Feature">
        <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>
