
/*
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
*/

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #dadada;
}

header {
  background-color: #e78477;
  color: #fff;
}

a {
  text-decoration: none;
  color: #03a9f4;
}

a:hover {
  color: #0c719e;
}

.site-title {
  margin: 0;
  padding: 20px;
}

.navbar {
  font-size: 22px;
  background-color: #fff;
}

.navlist {
  margin: 0;
}

.navitem {
  display: inline-block;
}

.navitem:hover {
  background-color: rgba(231, 132, 119, 0.18);
}

.navitem a {
  display: inline-block;
  color: #454545;
  padding: 10px 20px;
}

.navitem.right {
  float: right;
}

.photo-card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.photo-card {
  flex: 1 32%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin: 5px;
}

.person-photo-img {
  max-height: 300px;
}

.error-page {
  text-align: center;
}

.error-page h2 {
  font-weight: 100;
  font-size: 100px;
  margin-bottom: 0;
}

.error-page h3 {
  font-size: 24px;
  margin-top: 0;
}

.home-page .icon {
  display: inline-block;
  margin: 40px;
  font-size: 192px;
  color: #454545;
}

.title-container {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
}

.title-container h1 {
  margin: 20px 0;
  font-size: 64px;
  font-weight: 400;
}

.title-container h2 {
  margin: 10px 0;
  font-size: 48px;
  font-weight: 400;
}

.person-card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 28px;
}
