{{! this is a handlebars template with our list of rows}}

{{> header}}

<main class="board">
    {{#each row}}
        <div class="row">
                {{#each this}}
                    <p>fuck you bailey</p>
                    {{> cell}}
                {{/each}}
        </div>
{{!        {{> row }}
    {{/each}}
</main>

{{#if modal}}
    {{> createSweeperModal}}
{{/if}}
