{{! this is a handlebars template with our list of rows}}

{{> header}}

{{#unless modal}}
    <main id="board">
        {{#each row}}
            {{> row}}
        {{/each}}
    </main>
{{/unless}}
{{#if modal}}
    {{> createSweeperModal}}
{{/if}}
