.site-title{
  background-color: #888888;
  color: #fff;
}
.navbar {
  background-color: #fff;
}

.cell{
    color: white;
    background-color: darkGrey;
}

.cell.cleared{
    background-color: grey;
}

.cell.flagged{
    background-color: blueViolet;
}
.cell.revealedMine{
    background-color: red;
}

.cell.revealedMine.cleared{
    background-color: DarkRed;
}
.cell.revealedMine.flagged{
    background-color: DarkMagenta;
}
a {
  color: #343434;
  text-decoration: none;
}

a:hover,
a:focus {
  color: yellow;
}
